.app-container {
  display: flex;
  flex-direction: row;  /* Розташовуємо всі елементи в ряд */
  justify-content: space-between; /* Рівномірно розподіляємо */
  align-items: flex-start;
  width: 97vw;
  height: 100vh;
  gap: 10px;
  padding: 5px;
  margin: auto;
}

.app-container-users,
.app-container-posts,
.app-container-comments {
  flex: 1;
  background: #e0dbdb;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.app-container-users {
  flex: 25%;
}

.app-container-posts,
.app-container-comments {
  flex: 37%;
}
