.app-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 97vw;
  height: 100vh;
  gap: 10px;
  padding: 5px;
  margin: auto;
}

.app-container-users {
  width: 23%;  // Фіксована ширина
  background: #e0dbdb;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.app-container-posts,
.app-container-comments {
  flex: 1;  // Решта простору ділиться рівномірно
  background: #e0dbdb;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
