.users-container {
  width: 23.8%;
  background: #a49f9f;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;  /* Для точного розташування */
  left: 0;  /* Розміщуємо зліва */
  margin: 1.4%;  /* Відступи від країв */
}
